* {
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    margin-bottom: 0;
    background-color: #094275;
}

.navbar-inverse .navbar-brand {
    color: #FF6E59;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #094275;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #FF6E59;
}

.dropdown-menu>li>a {
    color: #9d9d9d;
}

.title-section {
    background-image: url("/static/background-1-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 330px;
    color: #FF6E59;
    display: flex;
    justify-content: flex-end;
}

.wrapper-title-section {
    width: 650px;
}

.wrapper-title-section h1 {
    text-align: end;
    text-transform: uppercase;
    margin: -150px 0;
    font-size: 36px;
    font-weight:900;
    max-width: 544px;
    max-height: 99px;
    color: #FFFFFF;
}