<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GET A SOUVENIR</title>
</head>
<header>
    <a href="{% url 'souvenirs_app:index' %}">GET A SOUVENIR</a>
</header>
<body>
<!-- <p>
    <a href="{% url 'souvenirs_app:create_user_info' %}">Fill the information about you</a>
</p> -->
<p>
    <a href="{%  url 'souvenirs_app:souvenirs' %}">Souvenirs</a>
</p>
<p>
    <a href="{%  url 'souvenirs_app:user_infos' %}">USERS</a>
</p>
<p>
    <a href="{%  url 'souvenirs_app:send_user_souvenirs' %}">Sent Souvenirs</a>
</p>
<p>
    <a href="{%  url 'souvenirs_app:receive_user_souvenirs' %}">Received Souvenirs</a>
</p>
{% if user.is_authenticated %}
    Hello, {{ user.get_username }}!
    <!-- <a href="{% url 'souvenirs_app:user_info' request.user %}">user_info</a> -->
    <p><a href="{% url 'souvenirs_app:my_info' request.user %}">my_info</a></p>
    <p><a href="{% url 'souvenirs_app:update_user_info' request.user %}">update_user_info</a></p>
    <p>
        <a href="{% url 'users:logout' %}">Log out</a>
    </p>
{% else %}
    <a href="{% url 'users:register' %}">Register</a>
    <a href="{% url 'users:login' %}">Log in</a>
{% endif %}
{% block content %}{% endblock content %}
</body>
</html>