<!DOCTYPE html>
<html lang="en">
<head>
  <title>GET A SOUVENIR</title>
  <link rel="icon" type="image/x-icon" href="/static/logo.jfif">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/base.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="margin-top: 0px;">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="display: flex; justify-content: space-between;" href="{% url 'souvenirs_app:index' %}">GET A SOUVENIR    <img src="/static/logo.jfif" style="width: 40px; height: 30px;"> </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'souvenirs_app:index' %}">HOME</a></li>
      <li><a href="{%  url 'souvenirs_app:user_infos' %}">USERS</a></li>
      <li><a href="{%  url 'souvenirs_app:souvenirs' %}">SOUVENIRS</a></li>
      {% if user.is_authenticated %}
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">MY SOUVENIRS<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{%  url 'souvenirs_app:send_user_souvenirs' %}">SENT SOUVENIRS</a></li>
          <li><a href="{%  url 'souvenirs_app:on_the_way_user_souvenirs' %}">SOUVENIRS ON THE WAY</a></li>
          <li><a href="{%  url 'souvenirs_app:receive_user_souvenirs' %}">RECEIVED SOUVENIRS</a></li>
          <li><a href="{% url 'souvenirs_app:create_souvenir' %}">SEND A SOUVENIR</a></li>
        </ul>
        {% endif %}
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">ME<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'souvenirs_app:my_info' request.user %}">MY INFORMATION</a></li>
          <li><a href="{% url 'souvenirs_app:update_user_info' request.user %}">UPDATE INFORMATION</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">API<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'api:souvenirs' %}">API SOUVENIRS</a></li>
          <li><a href="{% url 'api:user_infos' %}">API USERS</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li><a href="{% url 'souvenirs_app:my_info' request.user %}"> HELLO, {{ user.get_username }} !</a></li>
      <li><a href="{% url 'users:logout' %}"><span class="glyphicon glyphicon-log-out"></span> LOG OUT</a></li>
      {% else %}
      <li><a href="{% url 'users:register' %}"><span class="glyphicon glyphicon-list-alt"></span> REGISTER</a></li>
      <li><a href="{% url 'users:login' %}"><span class="glyphicon glyphicon-log-in"></span> LOG IN</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
<main>
  <section class="title-section">
    <div class="wrapper-title-section">
      <h1>Get souvenirs from people from all over the world!</h1>
        <form class="example" action="{% url 'souvenirs_app:search_souvenir' %}" method="get">
          <input type="text" placeholder="Register souvenir" name="search" >
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
  </section>
</main>

<div class="container mt-3" style="background-color: rgba(9, 67, 117, 0.200)">
{% block content %}{% endblock content %}  
</div>

</body>
</html>
