{% extends 'souvenirs_app/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/tables.css">
</head>
<body>

        <h2>YOU RECEIVED {{ receive_user_souvenirs.count }} SOUVENIRS</h2>
        <table class="table table-hover">
    
          <thead>
            <tr>
              <th>SOUVENIR ID</th>
              <th>SENT BY</th>
              <th>TO</th>
              <th>SEND DATE</th>
              <th>STATUS</th>
              <th>RECEIVE DATE</th>
              <th>DAYS ON THE WAY IF RECEICED</th>
            </tr>
          </thead>
          {% for souvenir in receive_user_souvenirs %}
          <tbody>
            <tr>
              <td><a href="{{ souvenir.get_absolute_url }}">{{ souvenir.slug }}</a></td>
              <td><a href="{{ souvenir.send_user.get_absolute_url }}">{{ souvenir.send_user }}</td>
              <td><a href="{{ souvenir.receive_user.get_absolute_url }}">{{ souvenir.receive_user }}</a></td>
              <td>{{ souvenir.status }}</td>
              {% if souvenir.status == 'RECEIVED' %}
              <td>{{ souvenir.receive_date }}</td>
              <td>{{ souvenir.on_the_way }}</td>
              {% endif %}
        {% empty %}
        {% endfor %}
            </tr>
          </tbody>
        </table>
      
      </body>
    
      {% endblock content %}
</html>
