{% extends 'souvenirs_app/base.html' %}

{% block content %}
    <h2>Souvenirs</h2>

    <ul>
        {% for souvenir in souvenirs %}

            <li><a href="{{ souvenir.get_absolute_url }}">{{ souvenir.souvenir_id }}</a> :
                {% for user_info in user_infos %}
                    <a href="{% url 'souvenirs_app:user_info' souvenir.send_user %}">{{ souvenir.send_user }}</a>
                {% endfor %}
        {% empty %}
            <li>No souvenirs have been sent yet</li>
        {% endfor %}
    </ul>

    <a href="{% url 'souvenirs_app:create_souvenir' %}">Send another souvenir</a>

{% endblock content %}