{% extends 'souvenirs_app/base.html' %}

{% block content %}

    <h3>TOTAL SENT SOUVENIRS: {{ souvenirs.count }}</h3>

    <ul>
        {% for souvenir in souvenirs %}
            <li><a href="{{ souvenir.get_absolute_url }}">{{ souvenir.slug }}</a>:
                by
                <a href="{{ souvenir.send_user.get_absolute_url }}">{{ souvenir.send_user }}</a>
                to
                <a href="{{ souvenir.receive_user.get_absolute_url }}">{{ souvenir.receive_user }}</a>
                {{ souvenir.status }}
                {% if souvenir.status == 'RECEIVED' %}
                    {{ souvenir.on_the_way }}
                {% endif %}
{#                {{ souvenir.receive_date|date:'d/m/Y' }}#}
        {% empty %}
            <li>No souvenirs have been sent yet</li>
        {% endfor %}
    </ul>

    <a href="{% url 'souvenirs_app:create_souvenir' %}">Send a souvenir</a>

{% endblock content %}